  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src=" <%= image_path('jb-logo-2.png') %>" width="40" height="40" class="d-inline-block align-top" alt="">
        SuperBlog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Transacciones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Nuevo Cliente</a>
            <a class="dropdown-item" href="#">Buscar Clientes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Configuración</a>
          </div>
        </li>
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item dropdown mr-3">
            <h6 class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hola <%= current_user.username %>!
            </h6>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Nuevo Post", new_post_path, class: "dropdown-item" %>
                <%= link_to "Editar cuenta", edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>          
          <% else %>
          <li class="nav-item">
            <%= link_to "Ingresar", user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
