<div class="container pt-5">
    <div class="row">
        <div class="col-xl">
            <% @posts.each do |post| %>
            <div class="card mb-3">
                <div class="row no-gutters justify-content-center align-items-center">
                  <div class="col-md-3">
                    <img src="<%= post.image %>" class="card-img p-1" alt="...">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h2 class="card-title"> <%= post.title %> </h2>                      
                      <p class="card-text"><small class="text-muted"> Creado <%= post.created_at.strftime("%B %d, %Y") %> Por: <%= post.user.email %> </small></p>
                      <p class="card-text">
                        <%if post.content.length > 250 %> 
                          <%= truncate(post.content, length: 250) %>
                            <%= link_to  "Leer mas...", post, class: "btn btn-outline-primary btn-sm" %>
                          <% else %>
                            <%= post.content %>                          
                        <% end %>
                        <% if user_signed_in? %>
                            <% if current_user.id == post.user_id %>
                                <%= link_to  "Editar", edit_post_path(post), class: "btn btn-outline-secondary btn-sm" %>
                                <%= link_to  "Eliminar", post, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el post?' }, class: "btn btn-outline-danger btn-sm" %>
                            <% end %>                          
                        <% end %>
                        
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>

            <% end %>


        </div>
    </div>
</div>