<div class="container pt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center"> <%= @post.title %> </h1>            
            <img src="<%= @post.image %>" class="img-show img-fluid img-thumbnail rounded mx-auto d-block m-3" alt="Responsive image">
            <footer class="blockquote-footer text-center mb-3">Publicado: <%= @post.updated_at.to_formatted_s(:long) %>, por <cite title="Source Title"> <%= @post.user.username %> </cite></footer>

            <p class="p-show mt-3 mb-5"> <%= @post.content %> </p>

            <div class="comments pb-5">
                <h4>Comentarios</h4>

                <% @post.comments.each do |comment| %>
                    <div class="card mb-3">
                        <div class="card-header">
                            Usuario: <%= comment.user.username %>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="p-comment"> <%= comment.content %> </p> 
                            </blockquote>
                        </div>
                    </div>
                <% end %>
    
                <% if user_signed_in? %>
                    <%= form_for [@post, @post.comments.build] do |f| %>    
                        <div class="form-group">
                            <%= f.text_area :content, class: "form-control", placeholder: "Escriba su comentario" %>
                        </div>                        
                        <div class="action">
                            <%= f.submit "Comentar", class: "btn btn-primary btn-lg" %>
                            <%= link_to  "Volver", root_path, class: "btn btn-link" %>
                        </div>                 
                    <% end %>
                <% else %>
                    <div>
                        <%= link_to  "Volver", root_path, class: "btn btn-link" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>