<!DOCTYPE html>
<html>
  <head>
    <title>JBSuperblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    
    <!-- show alerts -->
    <div class="alerts text-center">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    <!-- show alerts -->


    
    <%= yield %>


  
  
    <!-- Footer -->
  <footer class="footer footer-light bg-light p-3">
    <a href="https://twitter.com/BerttyJulio" target="_blank"><span class="fa fa-twitter fa-2x"></span></a>
    <a href="https://www.instagram.com/jbcoolness" target="_blank"><span class="fa fa-instagram fa-2x"></span></a>
    <a href="https://github.com/jbcoolness" ><span class="fa fa-github fa-2x"></span></a>          
    <br>
    © 2019 <strong>Julio Bertty</strong>, Todos los Derechos Reservados
  </footer>
  <!-- Footer -->
    

  <!-- hide alerts -->
  <script>
    $(".alert").fadeIn(500).css("opacity", "0.85").delay(6000).slideUp(1000);
    $(".alerts").on('click', '.alert', function(){ $(this).remove() });
  </script>
  <!-- hide alerts -->
  
  </body>
</html>
